extends base.pug

block style
 style
    include ../static/style.css
    include ../static/Contactstyle.css

block content
    nav#navbar
      
       div.logo
         img(src="../static/logo3.png", alt="error")
         |VDA
       ul#list
       li #[a(href="/") Home]
       li #[a(href="/")  About]
       li #[a(href="/")  Services]
       li #[a(href="/")  Class info]
       li #[a(href="/")  Contact Us]

    div#formbox
       h1 Contact Us
       form(action="/contact" method="POST" class='forms')
        input(type="text" name="name" placeholder="enter name")
        input(type="phone" name="phone" placeholder="enter phone no.")
        input(type="email" name="email" placeholder="enter email ID")
        input(type="text" name="desc" placeholder="About You")
        input(type="text" name="feedback" placeholder="enter feedback")
        button(type="submit" class="btn") submit
        
block foot
   footer#foot
       | Copyrights 2020 virmani | all rights reserved 